<h2 class='float-left'><%= @item.label.titleize %></h2>

<div class='float-right'>
  <%= link_to fa_icon('crosshairs', text: 'Hit List'), control_room_blog_posts_path(@item), class: 'btn btn-md btn-secondary'%>
  <%= link_to fa_icon('lightbulb', text: 'Ideation & Selection'), control_room_blog_potential_posts_path(@item), class: 'btn btn-md btn-primary' %>
  <%= link_to fa_icon('box', text: 'Brand Plan'), control_room_blog_brand_plan_categories_path(@item), class: 'btn btn-md btn-info' %>
  <%= link_to fa_icon('clipboard', text: 'Statistics'), {action: :statistics, id: @item.id}, class: 'btn btn-md btn-warning', id: :statistics_button %>

  <% if element_model::EDITABLE %>
    <%= link_to fa_icon('edit', text: "Edit #{@item_name.titleize.singularize}"), {action: :edit, id: @item }, class: 'btn btn-success btn-md' %>
  <% end %>

  <% if element_model::DELETEABLE %>
    <%= link_to fa_icon('trash', text: "Delete #{@item_name.titleize.singularize}"), {action: "destroy", id: @item }, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md' %>
  <% end %>

  <% if element_model::PUBLISHABLE %>
    <% if @item.unpublished? %>
      <%= link_to fa_icon('upload', text: "Publish #{@item_name.titleize.singularize}"), {action: :toggle_status }, data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-success btn-md' %>
    <% else %>
      <%= link_to fa_icon('upload', text: "Unpublish #{@item_name.titleize.singularize}"), {action: :toggle_status }, data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-success btn-md' %>
    <% end %>
  <% end %>
</div>

<hr class='fix-float'>

<%= render 'content' %>