<h2 class='float-left'>Statistics Overview</h2>

<div class='float-right'>
  <%= link_to fa_icon('newspaper', text: 'Blog'), control_room_blog_path(@item), class: 'btn btn-success btn-md' %>
</div>

<hr class='fix-float'>

<!-- <strong>Total Number of Posts Published: </strong><%= @posts.published %><br> -->
<!-- <strong>Pillar Posts Completed: </strong><%= @posts.posts_completed_for_type(:pillar) %><br>
<strong>Staple Posts Completed: </strong><%= @posts.posts_completed_for_type(:staple) %><br>
<strong>Response Posts Completed: </strong><%= @posts.posts_completed_for_type(:response) %><br> -->
<!-- <% 7.times do |i| %>
  <strong>Posts That Are <%= "#{pluralize(i+1, 'Month')}"%> Old: 
  </strong><%= @posts.published_posts_old_in_months((i+1)) %><br>
<% end %> -->
<!-- <strong>Posts That Are Older Than 8 Months: </strong><%= @posts.published_posts_older_than_in_months(8) %><br> -->
<h3><strong>SNAPSHOT</strong> <em>(Include all these data when posting in the community.)</em></h3>

<div class='row mt-4'>
  <div class='col-lg-6'>
    <div class="card border-primary mb-3">
      <div class="card-header"><strong>Age of Posts (in months).</strong></div>
      <div class="card-body text-primary">
        <canvas id="total_posts_published"></canvas>
      </div>
    </div>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-lg-6'>
    <div class="card border-primary mb-3">
      <div class="card-header"><strong>Age of Posts (in months).</strong></div>
      <div class="card-body text-primary">
        <canvas id="age_of_posts"></canvas>
      </div>
    </div>
  </div>
  <div class='col-lg-6'>
    <div class="card border-primary mb-3">
      <div class="card-header"><strong>Posts Published (completed) by Type</strong></div>
      <div class="card-body text-primary">
        <canvas id="posts_published_by_type"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- COMMITMENT REQUIRED -->

<hr>
<h3><strong>Commitment Required</strong></h3>
<div class='row mt-4'>
  <div class='col-lg-8'>
    <div class="card border-primary mb-3">
      <div class="card-header"><strong>Approx Writing Hours Left for Posts by Type in Hours. (TOTAL: <%= @writing_hours_left[:total] %> hours)</strong></div>
      <div class="card-body text-primary">
        <canvas id="writing_hours_left"></canvas>
      </div>
    </div>
  </div>  
  <div class='col-lg-4'>
    <div class="card border-primary mb-3">
      <div class="card-header"><strong>Words Left and Pricing Info</strong></div>
      <div class="card-body text-primary">
        <strong>Total Approx Words Left in Hit list: </strong><br> <%= number_with_delimiter(@words_left) %>
        <hr>
        <strong>Cost of remaining Hit List @ 3 cents per word: </strong><br> <%= number_to_currency(@words_left * 0.03) %>
        <hr>
        <strong>Cost to purchase 10 posts of each post type: </strong><br>
        <%= number_to_currency(((10*1350)+(10*2500)+(10*3500))*0.03) %>
      </div>
    </div>
  </div>
</div>

<!-- Hit List Statistics -->
<hr>
<div class='row'>
  <div class='col-lg-6'>
    <h3><strong>Hit List Statistics</strong></h3>

    <div class='row mt-4'>
      <div class='col-lg-12'>
        <div class="card border-primary mb-3">
          <div class="card-header"><strong>All Posts in Hit List by Type (TOTAL: <%= @posts.count %>)</strong></div>
          <div class="card-body text-primary">
            <canvas id="posts_in_hit_list"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-6'>
    <h3><strong>Completion Rate</strong></h3>
    <div class='row mt-4'>
      <div class='col-lg-12'>
        <div class="card border-primary mb-3">
          <div class="card-header"><strong>INCOMPLETE Posts in Hit List by Type (TOTAL: <%= @posts.not_published.count %>)</strong></div>
          <div class="card-body text-primary">
            <canvas id="incomplete_posts_in_hit_list"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h3><strong>Content Age</strong></h3>

<div class='row mt-4'>
  <div class='col-lg-8'>
    <div class="card border-primary mb-3">
      <div class="card-header"><strong>INCOMPLETE Posts in Hit List by Type (TOTAL: <%= @posts.not_published.count %>)</strong></div>
      <div class="card-body text-primary">
        <canvas id="content_age_for_all_posts"></canvas>
      </div>
    </div>
  </div>
  <div class='col-lg-4'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class="card border-primary mb-3">
          <div class="card-header"><strong>Breakdown by post type with publish date older than 35 weeks.</strong></div>
          <div class="card-body text-primary">
            <canvas id="content_age_for_all_posts_by_type"></canvas>
          </div>
        </div>
      </div>
      <div class='col-lg-12'>
        <div class="card border-primary mb-3">
          <div class="card-header"><strong>Breakdown by post type with publish date older than 35 weeks.</strong></div>
          <div class="card-body text-primary">
            <strong># of Possible Posts: </strong> <br><%= @brand_plan_categories_count %>

            <hr>

            <strong>Percentage of Brand Plan Complete: </strong> <br>
            <% if @brand_plan_categories_count != 0 %>
              <%= ((@posts.published.count.to_f / @brand_plan_categories_count.to_f) * 100).round(2) %>%
            <% else %>
              Can't Calculate due to division by 0
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var options = {
    scales: {
      yAxes: [{
        ticks: {
            beginAtZero: true
        }
      }]
    },
    plugins: {
      datalabels: {
        color: '#fff'
      }
    }
  }

  var ctx = document.getElementById('content_age_for_all_posts_by_type').getContext('2d');  
  new Chart(ctx, {
    type: 'polarArea',
    data: {
      labels: ['Response Posts', 'Staple Posts', 'Pillar Posts'],
      datasets: [{
        data: [
          <%= @posts.not_published_for_type_and_older_than(35.weeks.ago, :response).count %>,
          <%= @posts.not_published_for_type_and_older_than(35.weeks.ago, :staple).count %>,
          <%= @posts.not_published_for_type_and_older_than(35.weeks.ago, :pillar).count %>,
        ],
        backgroundColor: [
          'rgba(231, 76, 60, 0.55)',
          'rgba(46, 204, 113, 0.55)',
          'rgba(52, 152, 219, 0.55)'
        ]
      }]
    },
    options: options
  });  
    
  var ctx = document.getElementById('content_age_for_all_posts').getContext('2d');
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        '7 Days',
        '30 Days',
        '60 Days (2 months)',
        '90 Days (3 months)',
        '120 Days (4 months)',
        '150 Days (5 months)',
        '180 Days (6 months)',
        '210 Days (7 months)',
        '240 Days (8 months)'
      ],
      datasets: [{
        label: 'Posts published in the past certain number of days (# of posts)',
        data: [
          <%= @posts.more_recent_than(7.day.ago).count %>,
          <%= @posts.more_recent_than(30.day.ago).count %>,
          <%= @posts.more_recent_than(60.day.ago).count %>,
          <%= @posts.more_recent_than(90.day.ago).count %>,
          <%= @posts.more_recent_than(120.day.ago).count %>,
          <%= @posts.more_recent_than(150.day.ago).count %>,
          <%= @posts.more_recent_than(180.day.ago).count %>,
          <%= @posts.more_recent_than(210.day.ago).count %>,
          <%= @posts.more_recent_than(240.day.ago).count %>,
        ],
        backgroundColor: [
          'rgba(155, 89, 182, 0.55)',
          'rgba(52, 152, 219, 0.55)',
          'rgba(46, 204, 113, 0.55)',
          'rgba(26, 188, 156, 0.55)',
          'rgba(241, 196, 15, 0.55)',
          'rgba(230, 126, 34, 0.55)',
          'rgba(231, 76, 60, 0.55)',
          'rgba(155, 89, 182, 0.55)',
          'rgba(52, 73, 94, 0.55)'
        ]
      }]
    },
    options: options
  });

  var ctx = document.getElementById('incomplete_posts_in_hit_list').getContext('2d');
  var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Response Posts', 'Staple Posts', 'Pillar Posts'],
        datasets: [{
          data: [
            <%= @posts.incomplete_for_type(:response).count %>,
            <%= @posts.incomplete_for_type(:staple).count %>,
            <%= @posts.incomplete_for_type(:pillar).count %>,
          ],
          backgroundColor: [
            'rgba(41, 128, 185, 0.55)',
            'rgba(142, 68, 173, 0.55)',
            'rgba(22, 160, 133, 0.55)'
          ]
        }]
      },
      options: options
  });

  var ctx = document.getElementById('posts_in_hit_list').getContext('2d');
  var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Response Posts', 'Staple Posts', 'Pillar Posts'],
        datasets: [{
          data: [
            <%= @posts.posts_for_type(:response).count %>,
            <%= @posts.posts_for_type(:staple).count %>,
            <%= @posts.posts_for_type(:pillar).count %>,
          ],
          backgroundColor: [
            'rgba(26, 188, 156, 0.55)',
            'rgba(231, 76, 60, 0.55)',
            'rgba(155, 89, 182, 0.55)'
          ]
        }]
      },
      options: options
  });

  var ctx = document.getElementById('writing_hours_left').getContext('2d');
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Approx Writing Hours Left For Response Posts', 'Approx Writing Hours Left For Staple Posts', 'Approx Writing Hours Left For Pillar Posts'],
      datasets: [{
        label: 'Approx Writing Hours Left for Posts by Type (in hours)',
        data: [
          <%= @writing_hours_left[:response] %>,
          <%= @writing_hours_left[:staple] %>,
          <%= @writing_hours_left[:pillar] %>
        ],
        backgroundColor: [
          'rgba(230, 126, 34, 0.55)',
          'rgba(46, 204, 113, 0.55)',
          'rgba(155, 89, 182, 0.55)'
        ]
      }]
    },
    options: options
  });

  var ctx = document.getElementById('posts_published_by_type').getContext('2d');
  var myPieChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Response Posts Published', 'Staple Posts Published', 'Pillar Posts Published'],
        datasets: [{
          label: 'Posts Published by Type (# of posts)',
          data: [
            <%= @posts.posts_completed_for_type(:response).count %>, 
            <%= @posts.posts_completed_for_type(:staple).count %>,
            <%= @posts.posts_completed_for_type(:pillar).count %>
          ],
          backgroundColor: [
            'rgba(231, 76, 60, 0.55)',
            'rgba(46, 204, 113, 0.55)',
            'rgba(52, 152, 219, 0.55)'
          ]
        }],
      },
    options: options
  });

  var ctx = document.getElementById('age_of_posts').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['1 Month or Less', '2 Months', '3 Months', '4 Months', '5 Months', '6 Months', '7 Months', '8 months or more'],
        datasets: [{
          label: 'Age of Posts (in months)',
          data: [
            <% 7.times do |i| %>
              <%= @posts.published_posts_old_in_months((i+1)).count %>,
            <% end %>
            <%= @posts.published_posts_older_than_in_months(8).count %>
          ],
          backgroundColor: [
            'rgba(231, 76, 60,0.55)',
            'rgba(230, 126, 34,0.55)',
            'rgba(241, 196, 15,0.55)',
            'rgba(46, 204, 113,0.55)',
            'rgba(26, 188, 156,0.55)',
            'rgba(52, 152, 219,0.55)',
            'rgba(155, 89, 182,0.55)',
            'rgba(52, 73, 94,0.55)'
          ],
          borderWidth: 1
        }]
      },
      options: options
  });

  var ctx = document.getElementById('total_posts_published').getContext('2d');
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["Published", "Not Published"],
      datasets: [{
        data: [
          <%= @posts.published.count %>,
          <%= @posts.not_published.count %>
        ],
        backgroundColor: [
          'rgba(46, 204, 113, 0.55)',
          'rgba(149, 165, 166, 0.55)'
        ]
      }]
    },
    options: options
});
</script>