<%= f.association :blog, collection: current_user.blogs, selected: @blog %>

<div class='row'>
  <div class='col-lg-2'>
    <%= f.input :category %>
  </div>
  <div class='col-lg-4'>
    <%= f.input :primary_search_query %>
  </div>
  <div class='col-lg-4'>
    <%= f.input :title %>
  </div>
  <div class='col-lg-2'>
    <%= f.input :title_length, readonly: true %>
  </div>

  <div class='col-lg-3'>
    <%= f.input :post_type, collection: Post.post_types.keys, label_method: -> (key){ key.titleize } %>
  </div>

  <div class='col-lg-3'>
    <%= f.input :status, collection: Post.statuses.keys, label_method: -> (key){ key.titleize } %>
  </div>

  <div class='col-lg-3'>
    <%= f.input :word_count %>
  </div>

  <div class='col-lg-3'>
    <label>Date Published</label><br>
    <%= f.date_field :date_published, class: 'form-control' %> 
  </div>
</div>

<p></p>

<script>
  $(function() {
    $('#post_title').bind('input', function() {
      $('#post_title_length').val($(this).val().length)
    })
  })
</script>